/*!
* Start Bootstrap - SB Admin 2 Bootstrap Admin Theme (http://startbootstrap.com)
* Code licensed under the Apache License v2.0.
* For details, see http://www.apache.org/licenses/LICENSE-2.0.
*/

body {
	background-color: #f8f8f8;
}

#wrapper {
	width: 100%;
}

#page-wrapper {
	padding: 0 15px;
	min-height: 568px;
	background-color: #fff;
}

#pageLoading {
	width: 100%;
	height: 100%;
	background-color: #FFFFFF;
	position: absolute;
	display: block;
	top: 0px;
	left: 0px;
	z-index: 999999;
}

@media(min-width:768px) {
	#page-wrapper {
		position: inherit;
		margin: 50px 0 0 200px;		# 50px is Top nav size
		padding: 0 30px;
		border-left: 1px solid #e7e7e7;
	}
	.navbar-header {
		float: none;
	}
}

@media(max-width:768px) {
	.navbar-fixed-top {
		position: relative;
	}
	.sidebar-toggler {
		display: none;
	}
}

.navbar-top-links {
	margin-right: 0;
	float: right;
}

.navbar-top-links li {
	display: inline-block;
}

.navbar-top-links li:last-child {
	margin-right: 15px;
}

.navbar-top-links li a {
	padding: 15px;
	min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
	display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
	margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
	padding: 3px 20px;
	min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
	white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
	width: 310px;
	min-width: 0;
}

.navbar-top-links .dropdown-messages {
	margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
	margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
	margin-left: -123px;
}

.navbar-top-links .dropdown-user {
	right: 0;
	left: auto;
}

/*
* Side menu toggler
*/
.menu-toggler {
	position: relative;
	float: left;
	margin: 14px 0px 8px 15px;
	background-color: transparent;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	cursor: pointer;
}

.menu-toggler .icon-bar {
	display: block;
	width: 22px;
	height: 2px;
	border-radius: 1px;
	background-color: #888;
	margin-top: 4px;
}


/*
* Sidebar
*/
#sidebar-area .nav>li>a:hover, #sidebar-area .nav>li>a:focus,
#sidebar-area .nav>li:hover, #sidebar-area .nav>li:focus,
#sidebar-area .nav>li.active {
	background-color: #E2623D;
}

.sidebar a {
	color: #DADADB;
}
.sidebar .nav-second-level,
.sidebar .nav-second-level .nav-third-level {
	background-color: #3b3a3c;
}


.sidebar .sidebar-nav.navbar-collapse {
	padding-right: 0;
	padding-left: 0;
}

.sidebar .sidebar-search {
	padding: 9px;
	height: 50px;
}
.sidebar .sidebar-search .search-icon {
	display: none;
}

.sidebar ul li {
	border-bottom: 1px solid #3b3a3c;
	background-color: #3b3a3c;
}



.sidebar .arrow {
	float: right;
	margin-top: 2px;
}

.sidebar .fa.arrow:before {
	content: "\f104";
}

.sidebar .active>a>.fa.arrow:before {
	content: "\f107";
}

.sidebar .sidebar-nav .nav li i {
	#font-size: 1.3em;
	font-size: 18px;
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
	border-bottom: 0!important;
	border-top: 1px dotted #3b3a3c;
}

/*.sidebar .nav-second-level li a {
padding-left: 37px;
}*/

.sidebar .nav-third-level li a {
	padding-left: 52px;
}


/*
* Sidebar-closed
*/
@media(min-width:768px) {
	body.sidebar-closed #wrapper #sidebar li .nav-second-level,
	body.sidebar-closed #wrapper #sidebar li a .side-menu-title,
	body.sidebar-closed #wrapper #sidebar li a .arrow {
		display: none;
	}

	body.sidebar-closed #wrapper .sidebar .nav-second-level li a {
		padding-left: 15px;
	}

	body.sidebar-closed #wrapper .sidebar .nav-third-level li a {
		padding-left: 35px;
	}


	body.sidebar-closed #wrapper #page-wrapper {
		margin: 50px 0 0 45px;
	}

	body.sidebar-closed #wrapper .sidebar {
		width: 55px;
	}
	body.sidebar-closed #wrapper #sidebar li:hover {
		width: 200px;
	}
	body.sidebar-closed #wrapper #sidebar li:hover > a > .side-menu-title {
		display: inline !important;
		padding-left: 20px;
	}
	body.sidebar-closed #wrapper #sidebar li:hover a .arrow {
		#position: absolute;
		#left: 270px;
		#top: 14px;
		display: inline !important;
		#z-index: 1100;
	}

	body.sidebar-closed #wrapper #sidebar li.sidebar-search:hover .custom-search-form {
		display: table;
	}
	body.sidebar-closed #wrapper #sidebar li.sidebar-search:hover .search-icon {
		display: none;
	}

	body.sidebar-closed #wrapper #sidebar li:hover > ul.nav-second-level {
		display: block !important;
		position: absolute;
		z-index: 1000;
		height: auto;
		overflow: visible;
		top: 42px;
		left: 55px;
		width: 200px;
		background-color: #3b3a3c;
		border-bottom: 1px solid white;
	}
	body.sidebar-closed #wrapper #sidebar li:hover > ul.nav-second-level > ul.nav-third-level {
		display: block !important;
		position: absolute;
		z-index: 1000;
		height: auto;
		overflow: visible;
		top: 40px;
		left: 0px;
		width: 203px;
		background-color: #3b3a3c;
		border-bottom: 1px solid white;
	}

	body.sidebar-closed #wrapper #sidebar li:hover > ul > li:hover {
		width: 203px;

	}

	body.sidebar-closed #wrapper #sidebar .sidebar-search .custom-search-form {
		display: none;
	}

	body.sidebar-closed #wrapper #sidebar .sidebar-search .search-icon {
		display: table;
		padding-top: 8px;
	}

}


@media(min-width:768px) {
	.sidebar {
		z-index: 999;
		width: 200px;
		height: 100% !important;
		background-color: #313032;
		position: absolute;
	}

	.navbar-top-links .dropdown-messages,
	.navbar-top-links .dropdown-tasks,
	.navbar-top-links .dropdown-alerts {
		margin-left: auto;
	}
}

.btn-outline {
	color: #fff !important;
	background-color: #f26c45;
	border-color: #E2623D;
}

.btn-primary.btn-outline {
	color: #428bca;
}

.btn-success.btn-outline {
	color: #5cb85c;
}

.btn-info.btn-outline {
	color: #5bc0de;
}

.btn-warning.btn-outline {
	color: #f0ad4e;
}

.btn-danger.btn-outline {
	color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
	color: #fff;
}

.chat {
	margin: 0;
	padding: 0;
	list-style: none;
}

.chat li {
	margin-bottom: 10px;
	padding-bottom: 5px;
	border-bottom: 1px dotted #999;
}

.chat li.left .chat-body {
	margin-left: 60px;
}

.chat li.right .chat-body {
	margin-right: 60px;
}

.chat li .chat-body p {
	margin: 0;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
	margin-right: 5px;
}

.chat-panel .panel-body {
	height: 350px;
	overflow-y: scroll;
}

.login-panel {
	margin-top: 25%;
}

.flot-chart {
	display: block;
	height: 400px;
}

.flot-chart-content {
	width: 100%;
	height: 100%;
}

.dataTables_wrapper {
	position: relative;
	clear: both;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
	background: 0 0;
}

table.dataTable thead .sorting_asc:after {
	content: "\f0de";
	float: right;
	font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
	content: "\f0dd";
	float: right;
	font-family: fontawesome;
}

table.dataTable thead .sorting:after {
	content: "\f0dc";
	float: right;
	font-family: fontawesome;
	color: rgba(50,50,50,.5);
}

.btn-circle {
	width: 30px;
	height: 30px;
	padding: 6px 0;
	border-radius: 15px;
	text-align: center;
	font-size: 12px;
	line-height: 1.428571429;
}

.btn-circle.btn-lg {
	width: 50px;
	height: 50px;
	padding: 10px 16px;
	border-radius: 25px;
	font-size: 18px;
	line-height: 1.33;
}

.btn-circle.btn-xl {
	width: 70px;
	height: 70px;
	padding: 10px 16px;
	border-radius: 35px;
	font-size: 24px;
	line-height: 1.33;
}

.show-grid [class^=col-] {
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px solid #ddd;
	background-color: #eee!important;
}

.show-grid {
	margin: 15px 0;
}

.huge {
	font-size: 40px;
}

.panel-green {
	border-color: #5cb85c;
}

.panel-green .panel-heading {
	border-color: #5cb85c;
	color: #fff;
	background-color: #5cb85c;
}

.panel-green a {
	color: #5cb85c;
}

.panel-green a:hover {
	color: #3d8b3d;
}

.panel-red {
	border-color: #d9534f;
}

.panel-red .panel-heading {
	border-color: #d9534f;
	color: #fff;
	background-color: #d9534f;
}

.panel-red a {
	color: #d9534f;
}

.panel-red a:hover {
	color: #b52b27;
}

.panel-yellow {
	border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
	border-color: #f0ad4e;
	color: #fff;
	background-color: #f0ad4e;
}

.panel-yellow a {
	color: #f0ad4e;
}

.panel-yellow a:hover {
	color: #df8a13;
}
