<link href="/snep/css/dashboard.css" rel="stylesheet">
<link href="/snep/css/bootstrap-toggle.min.css" rel="stylesheet">
<script type="text/javascript" src="/snep/includes/javascript/bootstrap-toggle.min.js"></script>

<div class="row">
  <?php if($this->message): ?>
    <span class="<?php echo $this->msgclass; ?>"><?php echo $this->message; ?></span>
  <?php endif; ?>

  <form id="defaultForm" method="post" class="form-horizontal" action="<?php echo $this->url(array("controller" => "index", "action" => "add"), null, true); ?>" METHOD="post">

    <?php foreach($this->list as $key => $value){ ?>

      <a class="dash" href="<?php echo $link; ?>">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
          <div class="panel panel-orange">
            <div class="panel-heading  snep-panel-dashboard-edit">
              <div class="row">

                <div class="col-sm-4">
                  <i class="<?php echo $class; ?>"></i>
                </div>
                <div class="col-xs-12 text-right">
                  <div><?php echo $value['name']?> (<?php echo $value['desc']?>)
                  </div>
                </div>
              </div>
            </div>

            <div class="panel-footer">
              <div class="checkbox">
                <label>
                  <input type="checkbox" data-toggle="toggle" <?php echo isset($value['used']) ? $value['used'] : "" ;?> name="<?php echo 'dash['.$key.']';?>" id="<?php echo 'dash['.$key.']';?>">
                </label>
              </div>
            </div>

          </div>
        </div>
      </a>
      <?php } ?>

      <br>
      <div class="form-group snep-body-footer-buttons">
        <button type="submit" class="btn btn-add" name="save" value="save"><?php echo $this->translate("Save");?></button>
        &nbsp;&nbsp;&nbsp;
        <a class="btn btn-outline btn-add" href="javascript:window.history.go(-1)" role="button"><?php echo $this->translate("Cancel")?></a>

      </div>
    </form>
  </div>
